<section *ngIf="amountOfMoney.BI !== 0" class="container">
    <div>
        <p>{{ 'pppf' | translate }}: {{amountOfMoney?.PPPF}} {{ 'coin' | translate }}</p>
    </div>
    <div class="spacing">
        <p>{{ 'ppe' | translate }}: {{amountOfMoney?.PPE}} {{ 'coin' | translate }}</p>
    </div>
    <div class="spacing">
        <p>{{ 'ppa' | translate }}: {{amountOfMoney?.PPA}} {{ 'coin' | translate }}</p>
    </div>
    <div>
        <p>{{ 'bi' | translate }}: {{amountOfMoney?.BI}} {{ 'coin' | translate }}</p>
    </div>
</section>
