<section>
    <div class="title">
        <p>{{ 'titleSelectLanguage' | translate }}</p>
    </div>
    <div class="rowFlag">
        <div>
            <button (click)="obtainLanguage('es-ES')">
                <img class="flagImage" src="../../../assets/images/flags/Flag_of_Spain.svg.png" alt="Flag_of_Spain">
            </button>
        </div>
        <div>
            <button (click)="obtainLanguage('en-us')">
                <img class="flagImage" src="../../../assets/images/flags/Flag_of_the_United_States.svg.png" alt="Flag_of_the_United_States">
            </button>
        </div>
        <div>
            <button (click)="obtainLanguage('ru')">
                <img class="flagImage" src="../../../assets/images/flags/Flag_of_the_People's_Republic_of_China.svg.png" alt="Flag_of_China">
            </button>
        </div>
        <div>
            <button (click)="obtainLanguage('zh-hk')">
                <img class="flagImage" src="../../../assets/images/flags/Flag_of_Russia.svg.png" alt="Flag_of_Russia">
            </button>
        </div>
    </div>
</section>
